* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: #1782ed;
  position :fixed;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 50px;
  margin-top: 7px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  opacity: 1;
  display: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(background.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  color: black;
}

.top-wrapper p {
  margin-bottom: 3px;
  color: black;
}

.section {  
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #1782ed;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: black;
}

.heading h2 {
  font-weight: normal;
}

.column {
  float: left;
  width: 25%;
}

.column-icon {
  position: relative;
}

.column-icon img:hover {
  position: relative;
  animation-name: profil;
  animation-duration: 1s;
}

@keyframes profil {    
    100%  {transform: rotate(360deg);}
  }

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  color: #b3aeb5;
}

.clear {
  clear: left;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.heading h3 {
  font-weight: normal;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #1782ed;
}  
